@model string

<label for="Search" class="form-label">Wyszukiwanie</label>
<form class="d-flex" action="@Model">
    <input name="FormValue"value="1" hidden/>
    <input id="SearchString" name="SearchString" type="text" class="form-control form-control-sm mr-2" value="@ViewData["SearchString"]"/>
    <button class="btn btn-primary btn-sm d-flex" type="submit"><i class="bi bi-search mr-2"></i>Szukaj</button>  
</form>
