@using System.Security.Claims;
@using X.PagedList;
@model IPagedList<Survey>
@{
    ViewData["Title"] = "Ankiety";
    Tuple<IPagedList<Survey>, string, string> paginationData = new Tuple<IPagedList<Survey>, string, string>(@Model, "Survey", "Index");
}

<div class="row align-items-start">
    <div class="col-3">
        <div class="form-group">
            <partial name="Templates/_SortBar" model="@Url.Action("Index")"/>
        </div>   
        <div class="form-group">
            <partial name="Templates/_SearchBar" model="@Url.Action("Index")"/>
        </div>
        <div class="form-group">
            <partial name="Templates/_StatusBar"/>
        </div> 
    </div>
    <div class="col-9">
        <div class="mb-3">
            <h5>Lista ankiet</h5>
        </div>
        <div class="list-group list-group-flush bg-white">
            <partial name="Templates/_SurveyList"/>
        </div>
        <partial name="Templates/_Pagination" model="@paginationData"/>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('change', '#sortOrder', function () {
            $("#sortForm").submit();
            return false;
        });

        $(document).on('change', '#selectStatus', function () {
            $("#statusForm").submit();
            return false;
        });
    </script>
}
