@model IPagedList<Survey>
@using X.PagedList;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

@{
    Tuple<IPagedList<Survey>, string, string> paginationData = new Tuple<IPagedList<Survey>, string, string>(@Model, "Survey", "MySurveys");
}

<div class="row align-items-start">

    <div class="col">
        <div class="mb-3">
            <h5>Lista ankiet</h5>
        </div>
        <div class="list-group list-group-flush bg-white">
            <partial name="Templates/_SurveyList"/>
        </div>
        <partial name="Templates/_Pagination" model="@paginationData"/>
    </div>
</div>